DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=asfoaustech
DJANGO_SUPERUSER_USERNAME: admin
DJANGO_SUPERUSER_EMAIL: asfoaustech@gmail.com
DJANGO_SUPERUSER_PASSWORD: AsfbranchOaustech@123